@media only screen  and (min-width : 0px) {
  /*body {padding-top: 85px;}*/
  .mediaNav {
    position: fixed !important;
    left: 0;
    bottom: 0 !important;
    z-index: 1000;
      -webkit-box-shadow: 0 10px 20px 0 #000000;
      box-shadow: 0 10px 20px 0 #000000;
  }
  .navbar.navbar-inverse.navbar-fixed-top {
    border:0;
  }
  .navbar-inverse .navbar-nav > .active > a, 
  .navbar-inverse .navbar-nav > .active > a:hover, 
  .navbar-inverse .navbar-nav > .active > a:focus {
    background: #FFF;
    color: #000;
    box-shadow: none;
  }
  .btn {
    font-size: 7px;
  }
  /*MENU HIDE*/
  .navbar, .navbar a{
    -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
  }
  .nav-up > .navbar { 
    top: -100%;
  }

  .thumbnail {
    position: relative;
    min-height: 0px;
  }
  .thumbnail .imgDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  }

  .thumbnail .imgDescription span{
    background-color: white;
    padding: 0 5px;
  }
  .thumbnail .imgDescription h5 {
    color: #333;
    margin: 0px;
/*     margin-top: -16px;    */ 
  }
  .thumbnail .imgDescription p {
    font-size: x-small;
    color: #b8b8b8;
    margin: 0px;
    padding: 0px;

/*     margin-top: -6px;
 margin-bottom: 0px;
 padding-bottom: 2px;  */ 
  }
  #real_podpis h3{
    font-size: 120%;
  }
  .realizacje .thumbnail {
    display: block;
  }

}
@media only screen  and (min-width : 460px) {
  .btn {
    font-size: 11px;
  }
  .thumbnail {
    min-height: 123px;
  }
  .realizacje {
    text-align: center;
  }
  .realizacje .thumbnail {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  
}
@media only screen  and (min-width : 768px) {
  body {padding-top: 60px;}
  .thumbnail {
    min-height: 123px;
  }
  .nav-up .navbar{ top:0; }
  .mediaNav {display: none;}
  .btn {
    font-size: 14px;
  }
  .thumbnail .imgDescription {
    visibility: hidden;
    opacity: 0;
  }
  .thumbnail:hover .imgDescription {
    visibility: visible;
    opacity: 1;
  }
  .realizacje .thumbnail {
    display: block;
  }
}
@media only screen  and (min-width : 992px) {
  .thumbnail {
    min-height: 166px;
  }
  #real_podpis h3{
    font-size: 150%;
  }
}
@media only screen  and (min-width : 1200px) {
  .thumbnail {
    min-height: 204px;
  }
  #real_podpis h3{
    font-size: 170%;
  }
}