/* Style dodane - Konrad - Start */

/* GLOBAL */
.vaTop { vertical-align: top; }
.bgWhite { color: #FFF; }
#columnsBlock .anchor {padding:0px;}

@media only screen  and (min-width : 0px) {
    .headerMobile {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    /*MENU HIDE*/
    .nav-up { top: -50px; }

    #columnsBlock img{
      display: none;
    }
    #columnsBlock header {
      font-weight: bold;
    }
    #columnsBlock .coro{
      min-height: 0;
    }
    #columnsBlock header.coro {
      min-height: 0;
    }
    #columnsBlock p {
      text-align: left;
    }
    .team-member  > p > span {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .overlay {display: none;}

    header.coro .listSmall {
      font-size: 120%;
      margin: 10px 0;
    }
    .coro .listSmall {
      font-size: 110%;
      margin: 2px 0;
    }
    .jumbotron h1 {
      font-size: 200%;
    }
    .jumbotron h2 {
      font-size: 140%;
    }
}


@media only screen  and (min-width : 992px) {
  .nav-up { top: 0px; }
  #columnsBlock img{
    display: block;
  }

  #columnsBlock .coro{
    position: relative;
    width: 100%;
    min-height: 102px;
    margin:0 0 30px 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #EEE;
  }
  #columnsBlock .tint {
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
     -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 110px rgba(0,0,0,0.5), inset 0 0 0 12px rgba(0,0,0,0.2);
   box-shadow: inset 0 0 0 110px rgba(0,0,0,0.5), inset 0 0 0 12px rgba(0,0,0,0.2);
  }
  #columnsBlock .coro:hover .tint{
     -webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,0), inset 0 0 0 0 rgba(0,0,0,0);
   box-shadow: inset 0 0 0 0 rgba(0,0,0,0), inset 0 0 0 0 rgba(0,0,0,0);
  }
  #columnsBlock header.coro {
    min-height: 132px;
  }

  /* liste out*/
  .coro .listSmall {
    display: none;
  }
  #columnsBlock .coro:before {
    position: absolute;
    background-color: #888;
    content: "";
    width: 3px;
    height: 100%;
    left: 50%;
    bottom: 100%;
    margin-top: -3px;
    z-index: 5;
  }

  #columnsBlock header.coro:after {
    position: absolute;
    background-color: #888;
    content: "";
    width: 100%;
    height: 3px;
    top: 50%;
    right: 100%;
    margin-top: -3px;
    z-index: 5;
  }
  #columnsBlock > .col-md-2:first-child header.coro:after, 
  #columnsBlock header.coro:first-child:before{
    display: none;
  }
  #columnsBlock .coro img {
    position: relative;
    z-index: 10;
  }
  
  #columnsBlock .coro:hover .overlay {
    opacity: 0;
    transform: scale(0);    
  }

  /* style dla overlay */
  .overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 90px;
    padding: 5%;
    margin: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 15;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    backface-visibility: hidden;
  }


  .overlay p, .overlay h5 {
    text-align: center;
    font-size: 50%;
  }

  header .overlay {line-height: 115px;}

  .overlay .goldenCenter {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 1.3;
  }
  .overlay p, .overlay h5 {
    display: inline;
    line-height: 1.4;
    margin: 2px 0px;
    padding: 2px;
    width: auto;
    font-weight: 700;
  }
  .overlay p {
    font-size: 70%;
  }
  .overlay h5 {
    font-size: 110%;
    line-height: 1.6;
  }
    .jumbotron h1 {
      font-size: 300%;
    }
    .jumbotron h2 {
      font-size: 200%;
    }
}


/* @media only screen  and (min-width : 992px) {
    .overlay p, .overlay h5 {
      text-align: center;
      font-size: 80%;
    }
    .overlay {line-height: 100px;}
    header .overlay {line-height: 132px;}
} */


@media only screen  and (min-width : 1200px) {
  #columnsBlock .coro {
    min-height: 135px;
    width: 100%;
  }
  #columnsBlock header.coro {
    min-height: 165px;
  }
  .overlay p, .overlay h5 {
    text-align: center;
  }
  .overlay p {
    font-size: 95%;
    line-height: 1.6;
  }
  .overlay h5 {
    font-size: 145%;
    line-height: 1.4;
  }
  .overlay {line-height: 120px;}
  header .overlay {line-height: 150px;}
}
/* Style dodane - Konrad - Finish */